html {
	background: url(https://upload.wikimedia.org/wikipedia/commons/a/a2/Sushi.svg);
}

body {
	padding: 1rem;
	background-color: Beige;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1rem;
}

@media (max-width: 779px) {
	body {
		width: 85%;
	}
}

@media (min-width: 780px) {
	body {
		width: 448px;
	}
}

@media (min-width: 1280px) {
	body {
		width: 35%;
	}
}

@keyframes blink {
	75% { opacity: 0.0; };
}

@-webkit-keyframes blink {
	75% { opacity: 0.0; };
}

h1, h3, .emph {
	color: red;
	animation: blink 1s step-end infinite;
}

div.thread {
	background-color: silver;
	border: solid;
	border-color: black;
}

.inputs {
	height: auto;
	width: 100%;
}

.content {
	padding-left: 1rem;
}

.highlight {
	background-color: yellow;
}
