<%# encoding: utf-8 %>
<html>
<body>
	<h1>じゃんけん</h1>

	<form action="judge_cookie.rhtml" method='get'>
		<div>今度の手は?
			<input type="radio" name="hand" value=0>rock
			<input type="radio" name="hand" valur=1>scissor
			<input type="radio" name="hand" value=2>paper
		</div>
		<input type="submit" value="send">
		<input type="reset" value="clear">
		<br>
		<a href=".">back</a>
	</form>
</body>
</html>
