<%# encoding: utf-8 %>
<%
	require 'cgi'
	#ERuby.noheader = true
	cgi = CGI.new
	cookies = cgi.cookies
	kos = (cookies['mycookies'][0] || "0,0,0")
	kosp = kos.split(",").map &:to_i
	handtable = ["rock", "scissor", "paper"]
	restable = ["draw", "win", "lose"]
	cphand = rand(3)
	myhand = cgi["hand"].to_i
%>
<%
	result = case cphand - myhand
	when 0
		0
	else
		case cphand
			when 0
				myhand == 2 ? 1 : 2
			when 1
				myhand == 0 ? 1 : 2
			when 2
				myhand == 1 ? 1 : 2
		end
	end

	kosp[result] += 1
	kos = kosp.join","
	new_cookie = CGI::Cookie.new("name" => "mycookies", "value" => kos)
	print cgi.header("charset" => "utf-8", "cookie" => [new_cookie])
%>
<html>
	<body>
		<h1>勝負!</h1>
		you:<%=handtable[myhand]%><br>
		cp: <%=handtable[cphand]%><br>
		<br>result: <%=restable[result]%>
		<br><%="draw #{kosp[0]} win #{kosp[1]} lose #{kosp[2]}"%>

		<br><a href=".">back</a>
	</body>
</html>

